* {
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.modal-content > .overlay {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.7);
    z-index: 1010;
}

.modal-content > .overlay, .modal-content > .loading-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.modal-content > .loading-img {
    background: url("../themes/adminlte/img/ajax-loader1.gif") no-repeat scroll 50% 50% transparent;
    z-index: 1020;
}

.modal-content > .overlay, .modal-content > .loading-img {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.has-success .input-group-btn .btn-default:hover,
.has-success .input-group-btn .btn-default:focus,
.has-success .input-group-btn .btn-default.focus,
.has-success .input-group-btn .btn-default:active,
.has-success .input-group-btn .btn-default.active,
.open > .dropdown-toggle.has-success .input-group-btn .btn-default {
    background-color: #449d44;
    border-color: #398439;
    color: #000;
}

.has-success .bootstrap-touchspin .input-group-btn-vertical .btn-default:hover,
.has-success .bootstrap-touchspin .input-group-btn-vertical .btn-default:focus,
.has-success .bootstrap-touchspin .input-group-btn-vertical .btn-default.focus,
.has-success .bootstrap-touchspin .input-group-btn-vertical .btn-default:active,
.has-success .bootstrap-touchspin .input-group-btn-vertical .btn-default.active,
.open > .dropdown-toggle.has-success .bootstrap-touchspin .input-group-btn-vertical .btn-default {
    background-color: #449d44;
    border-color: #398439;
    color: #000;
}